.menu
{
    background-image: url("images/aboutbg.png");
    background-size: cover;
    background-position: center;
}

.about_title
{
    color: white;
    text-align: center;
}

.title
{
    font-size: 40px;

    background: rgb(31, 31, 31);
}


.desc
{
    font-size: 15px;

    width: 640px;
    padding: 10px;
    background: rgb(31, 31, 31);
    border-radius: 25px;
    text-align: center;
    display: inline-block;

    text-decoration: none;
    color: white;
}