@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;

    font-family: "DM Sans", sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("images/backgrounds/aboutbg.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav
{
    display: flex;
    padding-left: 5px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    flex: 1;
    text-align: right;
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after
{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(75, 75, 75);
    display: block;
    margin: auto;

    transition: all .5s linear;
}

.nav-links ul li:hover::after
{
    width: 100%;
}


.text-box
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1
{
    font-size: 50px;
}

.text-box p1
{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.projectsButton
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;

    transition: all 0.5s linear;
}

.projectsButton:hover
{
    border: 3px solid rgb(40, 40, 40);
    background: rgb(75, 75, 75);
    
}

nav .fa
{
    display: none;
}