@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body
{
    background-color: rgb(20, 20, 20);
    margin: 0px;
    padding: 0;

    font-family: 'DM Sans', sans-serif;
}

.menu
{
    height: 100vh;
    align-items: right;
    margin-top: 75px;

    background-image: url("images/aboutbg.png");
    background-size: cover;
    background-position: center;
}

.menu-items ul
{
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-item
{
    transition: all .3s linear;
    color: white;
    font-size: 25px;
    float: right;
    margin-right: 40px;
    margin-top: -75px;
    text-decoration: none;
    padding: 24;
}

.menu-item:hover
{
    color: rgb(75, 75, 75);
    font-size: 30;
    margin-top: -79px;
    margin-right: 30px;
}


.menu-logo
{
    transition: all .3s linear;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    margin-top: -55px;

    display: inline-block;
    text-decoration: none;
    padding: 1;
}

.menu-logo:hover
{
    color: rgb(75, 75, 75);
    font-size: 30;
    margin-top: -57.5px;
    margin-left: 20px;
}

.about_title
{
    color: white;
    text-align: center;
}

.title
{
    font-size: 25px;

    background: rgb(31, 31, 31);
    width: 140px;
    border-radius: 15px;
    margin-left: 880px;
}

.desc
{
    font-size: 15px;

    width: 640px;
    padding: 10px;
    background: rgb(31, 31, 31);
    border-radius: 25px;
    display: inline-block;

    text-decoration: none;
    color: white;
}