.menu
{
    background-image: url("images/homebg.png");
    background-size: cover;
    background-position: center;
}

.index_title
{
    text-align: center;
}

.title
{
    font-size: 40px;

    background: rgb(31, 31, 31);
    text-align: center;
}

.desc
{
    font-size: 15px;

    width: 600px;
    padding: 10px;
    background: rgb(31, 31, 31);
    border-radius: 25px;
    text-align: center;
    display: inline-block;

    text-decoration: none;
}

.link
{
    color: white;
}