.menu
{
    background-image: url("images/projectbg.png");
    background-size: cover;
    background-position: center;
}

.projects
{
    text-align: center;
}

.title
{
    color: white;
    font-size: 40px;

    background: rgb(31, 31, 31);
}


.qs_title
{
    font-size: 25px;

    background: rgb(31, 31, 31);
    width: 200px;
    padding: 5px;
    border-radius: 15px;

}

.qs_desc
{
    font-size: 15px;

    width: 640px;
    padding: 10px;
    background: rgb(31, 31, 31);
    border-radius: 25px;
    text-align: center;
    display: block;

    text-decoration: none;
    color: white;
}
